@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}
body{
    width: 100%;
}
/* boot css*/
.center{
    max-width: 1280px;
    margin: 0 auto;
}
.w75{
    width: 75%;
}
.h100{
    height: 100%;
}
.a-mr{
    margin: 0 auto;
}
.w50{
    width: 50%;
}
.flex{
    display: flex;
}
.column{
    flex-direction: column;
}

/*fim do boot*/

/*pré-code*/
.input{
    border: 0;
    border-radius: 5px;
    padding: 5px;
    color: #242424;
    outline: none;
}

/*fim pre-code*/

header{
    background: #3d437a;
    height: 10vh;
    color: white;
    display: flex;
}
header .w75{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}
header .logo{
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 700;
}
nav.desktop ul{
    display: flex;
    list-style: none;
}
nav.desktop ul a{
    text-decoration: none;
    color: white;
    margin: 0 12px;
}

#container{
    margin: 0 auto;
}
.banner-principal{
    height: 600px;
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: bottom;
}
.banner-principal form{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.banner-principal form h2{
    color: white;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 10px;
}
.banner-principal form .box{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.banner-principal form input[type="email"]{
    width: 550px;
    height: 50px;
    padding: 10px 10px;
    background-color: #ffffffd3;
    margin-bottom: 20px;
    font-size: 20px;
}
.banner-principal form input[type="submit"]{
    width: 210px;
    height: 60px;
    background-color: #3d437ade;
    color: white;
    cursor: pointer;
}
.autor{
    width: 100%;
    display: flex;
    justify-content: center;
}
.autor-image{
    width: 700px;
}
.autor-image img{
    width: 100%;
}
.box-especialidade{
    padding: 0 10px;
}
.depoimentos-single{
    padding: 10px 0;
}
.nome-autor{
    font-weight: bold;
}
.servicos ul li{
    padding: 5px 0;
}


